<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .background {
            background: #ffffff url('../static/image/Login-Form.png') center center no-repeat;
        }
    </style>
</head>
<body>
<div class="background">
    <form class="form" method="post" action=".">{% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.label_tag }} {{ field }}
        </div>
        {% endfor %}
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <button type="submit" id="submit">Sing In</button>
        <p class="text-muted text-center"><a
                href="{% url 'account:password_reset' %}">
            <small>Forget your password?</small>
        </a></p>
    </form>
</div>

</body>
</html>