{% extends 'base.html' %}
{% block path_message %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>修改密码</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
{% endblock %}
{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <button class="layui-btn layui-btn-sm"
                            onclick="window.history.back()">返回
                    </button>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown"
                           href="table_data_tables.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                    </div>
                    <div class="ibox-content">
                        <form class="layui-form" action="." method="POST"
                              lay-filter="example">{% csrf_token %}
                            <div class="layui-form-item">
                                <label class="layui-form-label">旧密码:</label>
                                <div class="layui-input-block">
                                    <input type="password" name="old_psd"
                                           lay-verify="old_psd"
                                           autocomplete="off"
                                           placeholder=""
                                           class="layui-input" maxlength="70"
                                           required id="id_old_psd">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">新密码:</label>
                                <div class="layui-input-block">
                                    <input type="password" name="new_psd"
                                           lay-verify="new_psd"
                                           autocomplete="off"
                                           placeholder=""
                                           class="layui-input" maxlength="70"
                                           required id="id_new_psd">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">新密码确认:</label>
                                <div class="layui-input-block">
                                    <input type="password" name="psd_cfm"
                                           lay-verify="psd_cfm"
                                           autocomplete="off"
                                           placeholder=""
                                           class="layui-input" maxlength="70"
                                           required id="id_psd_cfm">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <input type="submit"
                                           class="btn btn-primary btn-lg"
                                           value="修改密码" id="submit"
                                           style="font-size: 12px;line-height: 1">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block custom_foot_js %}
<style>
    .layui-form-label {
        width: 110px;
    }
</style>
<script type="text/javascript">
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer;


        $("#submit").click(function () {
            if ($("#id_new_psd").val().length < 8) {
                layer.alert("新密码最少8位字符");
                return false;
            }
            if ($("#id_new_psd").val() != $("#id_psd_cfm").val()) {
                layer.alert("新密码前后不一致");
                return false;
            }
            $.ajax({
                url: "{% url 'account:password_change' %}",
                type: "POST",
                data: {
                    'id_old_psd': $("#id_old_psd").val().trim(),
                    'id_new_psd': $("#id_new_psd").val().trim()
                },
                beforeSend: function (XMLHttpRequest) {
                },
                success: function (e) {
                    if (e['e'] == "success") {
                        layer.msg("修改成功! ", {time: 1000}, function () {
                            location.href = "{% url 'account:index' %}";
                        });
                    }
                    else {
                        layer.msg("修改失败: " + e['msg'], {time: 3000}, function () {
                        });
                    }
                },
                complete: function () {
                }
            });

            return false;

        });
    });
</script>
{% endblock %}