<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <title>运维管理系统</title>
    <meta name="keywords" content="运维管理系统">
    <meta name="description" content="运维管理系统">
    {% load static %}
    {% include 'head_css_js.html' %}
</head>

<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="profile-element" style="height: 100px">
                        <div href="#" target="_blank" style="width: 100%;padding:20px;">
                            <!--<img alt="logo" height="100%" width="100%" src="#"/>-->
                            <p>LOGO</p>
                        </div>
                    </div>

                    <div class="logo-element">

                    </div>
                </li>
                <li>
                    <a href="{% url 'account:index' %}"><i class="fa fa-dashboard" style="width: 20px"></i> <span
                            class="nav-label">首页</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg dashbard-1">

        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">

                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary "><i class="fa fa-bars"></i>
                    </a>
                </div>

                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="m-r-sm text-muted welcome-message">
                            <img alt="image" class="img-circle" width="30" height="30" src="{% static 'image/p7.png' %}">
                            <span style="font-size: 13px;font-weight: 400"> {{ user.username }}
                                <b class="caret"></b>
                            </span>
                            </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs profile-dropdown">
                            <li><a href="#"><i class="fa fa-book"> </i><span> 个人信息</span></a></li>
                            <li><a href="#"><i class="fa fa-cogs"> </i><span> 修改密码</span></a></li>
                            <!--<li><a id="switch_user"><i class="fa fa-exchange"></i><span> 用户页面</span></a></li>-->
                            <li><a href="{% url 'account:logout' %}"><i class="fa fa-sign-out"></i> 注销登录</a></li>
                        </ul>
                    </li>
                </ul>

            </nav>
        </div>

        {% block content %}{% endblock %}

        <div class="footer">
            <div class="pull-right">
                By：<a href="#" target="_blank">运维平台</a>
            </div>
            <div>
                <strong>Copyright</strong> 2019
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#side-menu li a').each(function () {
            if ($($(this))[0].href == String(window.location.href.split('?')[0]))
                $(this).addClass("active").parentsUntil($("#side-menu"), "li").addClass('active').parentsUntil($("#side-menu"), "ul").addClass("collapse in");
        });
    })
</script>
</body>
{% block custom_foot_js %} {% endblock %}
</html>